body {
  background-color: rgb(23, 0, 0);
}

.center-strip {
  width: 60%; 
  padding: 20px;
  background-color: rgb(21, 211, 0);
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
